html
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width,initial-scale=1,maximum-scale=1')
        title transformer
        link(rel='stylesheet' type='text/css' href='style.css')
    body
        h1: a(href='./') transformer
        p ダウンロードが開始されます…
        p: a(href='./output' download='transformed.png')#dl 開始されない場合はこちらをクリックしてください
        p: a(href='./')#top 戻る
        script.
            document.getElementById('dl').click();
            document.getElementById('top').click();
